# CODEOWNERS
# These owners will be the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.

# Global owners
* @DownAtTheBottomOfTheMoleHole

# Terraform configuration files
*.tf @DownAtTheBottomOfTheMoleHole
*.tfvars @DownAtTheBottomOfTheMoleHole

# Documentation
*.md @DownAtTheBottomOfTheMoleHole
/terraform-docs/ @DownAtTheBottomOfTheMoleHole

# CI/CD workflows
/.github/workflows/ @DownAtTheBottomOfTheMoleHole
/.github/renovate.json @DownAtTheBottomOfTheMoleHole
/.pre-commit-config.yaml @DownAtTheBottomOfTheMoleHole

# Configuration files
/.checkov.yml @DownAtTheBottomOfTheMoleHole
/.cspell.json @DownAtTheBottomOfTheMoleHole
/.gitleaks.toml @DownAtTheBottomOfTheMoleHole
/.grype.yaml @DownAtTheBottomOfTheMoleHole
/.jscpd.json @DownAtTheBottomOfTheMoleHole
/.markdown-link-check.json @DownAtTheBottomOfTheMoleHole
/.markdownlint.json @DownAtTheBottomOfTheMoleHole
/.mega-linter.yml @DownAtTheBottomOfTheMoleHole
/.readme-terraform-docs.yml @DownAtTheBottomOfTheMoleHole
/.secretlintrc.json @DownAtTheBottomOfTheMoleHole
/.terraform-terraform-docs.yml @DownAtTheBottomOfTheMoleHole
/.yamllint.yml @DownAtTheBottomOfTheMoleHole
/GitVersion.yml @DownAtTheBottomOfTheMoleHole
/kics.config @DownAtTheBottomOfTheMoleHole
/versions.tf @DownAtTheBottomOfTheMoleHole
