# CODEOWNERS
# These owners will be the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.

# Global owners
* @RolfMoleman

# Terraform configuration files
*.tf @RolfMoleman
*.tfvars @RolfMoleman

# Documentation
*.md @RolfMoleman
/terraform-docs/ @RolfMoleman

# CI/CD workflows
/.github/workflows/ @RolfMoleman
/.github/renovate.json @RolfMoleman
/.pre-commit-config.yaml @RolfMoleman

# Configuration files
/.checkov.yml @RolfMoleman
/.cspell.json @RolfMoleman
/.gitleaks.toml @RolfMoleman
/.grype.yaml @RolfMoleman
/.jscpd.json @RolfMoleman
/.markdown-link-check.json @RolfMoleman
/.markdownlint.json @RolfMoleman
/.mega-linter.yml @RolfMoleman
/.readme-terraform-docs.yml @RolfMoleman
/.secretlintrc.json @RolfMoleman
/.terraform-terraform-docs.yml @RolfMoleman
/.yamllint.yml @RolfMoleman
/GitVersion.yml @RolfMoleman
/kics.config @RolfMoleman
/versions.tf @RolfMoleman
