repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check for newly added large files

      - id: check-case-conflict
        name: Check for unnecessary text case changes

      - id: check-merge-conflict
        name: check for git merge conflicts

      - id: check-json
        name: check JSON validity
        exclude: (config/.cspell.json|build/arm_templates/blank_arm_template.json)

      - id: check-yaml
        name: check YAML and YML validity

      - id: detect-aws-credentials
        name: find AWS credentials
        args: ["--allow-missing-credentials"]

      - id: detect-private-key
        name: check for unencrypted secrets

      - id: end-of-file-fixer
        name: ensure all file ends are consistent

      - id: mixed-line-ending
        name: fix line endings
        args: [--fix=lf]

      - id: trailing-whitespace
        name: remove trailing whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: check repo for secrets
        stages: [manual] # Requires: pip install detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
    hooks:
      - id: cspell
        args:
          - --config
          - .config/.cspell.json
        name: code spell check for whole repository

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: run Prettier by Prettier
        files: \.(js|ts|jsx|tsx|css|less|html|json|markdown|md|yaml|yml)$ # include the listed extensions
        #exclude:  # files are excluded using the prettierignore files

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
    hooks:
      # run native terraform validate to ensure IAC configuration is valid
      - id: terraform_validate
        name: Run terraform validate against terraform
        args:
          - --hook-config=--retry-once-with-cleanup=true # Boolean. true or false

      ##############################################################
      #######        Terraform version updates               #######
      ##############################################################

      - id: tfupdate
        name: Autoupdate Terraform required version in terraform to latest

      - id: tfupdate
        name: Autoupdate aws provider version in terraform
        args:
          - --args=provider aws

      - id: tfupdate
        name: Autoupdate azuredevops provider version in terraform
        args:
          - --args=provider azuredevops

      - id: tfupdate
        name: Autoupdate AzureRM provider version in terraform
        args:
          - --args=provider azurerm

      - id: tfupdate
        name: Autoupdate random provider version in terraform
        args:
          - --args=provider random

      - id: tfupdate
        name: Autoupdate time provider version in terraform
        args:
          - --args=provider time

      ##############################################################
      #######        Terraform Cost Analysis                 #######
      ##############################################################

      - id: infracost_breakdown
        name: Run infracost breakdown against terraform
        stages: [manual] # Run only when explicitly called
        args:
          #- --args=--path='.'
          - --args=--project-name="github/DownAtTheBottomOfTheMoleHole/terraform-azuredevops-naming"
          - --args=--format=json
          - --args=--out-file=.infracost/infracost-precommit-terraform-dev.json
          - --hook-config='.currency == "GBP"'
          - --hook-config='.totalHourlyCost|tonumber > 0.1'
          - --hook-config='.totalHourlyCost|tonumber > 1'
          - --hook-config='.projects[].diff.totalMonthlyCost|tonumber != 10000'

  ##############################################################
  #######       Generate Terraform Documentation         #######
  ##############################################################

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.21.0 # Git tag specifying the hook
    hooks:
      - id: terraform-docs-go
        name: Put terraform-docs terraform.md in ROOT
        args: [markdown, ., --config, .config/.terraform-terraform-docs.yml]

      - id: terraform-docs-go
        name: Put terraform-docs into main readme.md
        args: [markdown, ., --config, .config/.readme-terraform-docs.yml]

  ###############################################################
  #######  Full repo multi-language security and linting  #######
  ###############################################################
  - repo: https://github.com/oxsecurity/megalinter
    rev: v9.3.0 # Git tag specifying the hook, not mega-linter-runner, version
    hooks:
      - id: megalinter-incremental # Faster, less thorough
        name: Run megalinter incremental scan
        stages: [manual] # Run only when explicitly called (requires Docker)
        args:
          - mega-linter-runner
          - --containername
          - "megalinter-incremental"
          - --remove-container
          - --fix
          - --env
          - "'APPLY_FIXES=all'"
          - --env
          - "'CLEAR_REPORT_FOLDER=true'"
          - --env
          - "'JAVASCRIPT_DEFAULT_STYLE=prettier'"
          - --env
          - "'JSON_REPORTER=true'"
          - --env
          - "'JSON_REPORTER_OUTPUT_DETAIL=detailed'"
          - --env
          - "'LOG_LEVEL=warning'"
          - --env
          - "'MARKDOWN_DEFAULT_STYLE=markdownlint'"
          - --env
          - "'PRINT_ALL_FILES=true'"
          - --env
          - "'PRINT_ALPACA=true'"
          - --env
          - "'SARIF_REPORTER=true'"
          - --env
          - "'SHOW_ELAPSED_TIME=true'"
          - --env
          - "'SHOW_SKIPPED_LINTERS=true'"
          - --env
          - "'TAP_REPORTER=true'"
          - --env
          - "'TAP_REPORTER_SUB_FOLDER=tap'"
          - --env
          - "'TERRAFORM_CHECKOV_ARGUMENTS=--include-all-checkov-policies'"
          - --env
          - "'TERRAFORM_CHECKOV_CLI_LINT_MODE=file '"
          - --env
          - "'TERRAFORM_TERRASCAN_ARGUMENTS=--verbose'"
          - --env
          - "'TERRAFORM_TERRASCAN_ARGUMENTS=--show-passed'"
          - --env
          - "'TERRAFORM_TFLINT_ARGUMENTS=--color'"
          - --env
          - "'TYPESCRIPT_DEFAULT_STYLE=prettier'"
          - --env
          - "'VALIDATE_ALL_CODEBASE=false'"

  ###############################################################
  #######         Commit verification and signing         #######
  ###############################################################

  - repo: https://github.com/mattlqx/pre-commit-sign
    rev: v1.2.0
    hooks:
      - id: sign-commit
        name: sign commits to identify pre-commit has been ran
        stages: [manual] # Disabled by default - corrupts files

Precommit-Verified: a33d75ed34fd015127a3fe9b6b4206ba11ff11d5766d98ce2a8178719863e13c
