**/.git
**/.svn
**/.hg
**/node_modules

TERRAFORM.md
TERRAFORM_REMOTE.md
TERRAFORM_LOCAL.md

**/TERRAFORM_LOCAL.md
**/TERRAFORM_REMOTE.md

**/terraform/README.md
**/terraform_local/README.md

!**/docs/terraform.md

Precommit-Verified: 04dbb66ab6a8d74eea2fede63887041a738f914595fe82d6e3415980f2cd5eb1
