log-format: pretty
log-file: true
log-level: INFO
minimal-ui: false
no-color: false
no-progress: false
path: /Repo # "path to file or directory to scan"
preview-lines: 10
report-formats: all # "formats in which the results will be exported (all, asff, cyclonedx, glsast, html, JSON, junit, pdf, sarif, sonarqube) (default [JSON])"
silent: false
verbose: true

Precommit-Verified: dd2fbb780b4c3af3a3b335ee45e7069ba78506b10b1d38f50c7294ffed248cd2
