#exclude-categories: "exclude categories by providing its name"
#exclude-paths: "exclude paths or files from scan"
#exclude-queries: "exclude queries by providing the query ID"
#exclude-results: "exclude results by providing a list of similarity IDs of a result"
#exclude-severities: "exclude results by providing the severity of a result"
#libraries-path: "path to directory with libraries (default "./assets/libraries")"
log-format: pretty
log-file: true
log-level: INFO
#log-path: KICS.log # path to the log file
minimal-ui: false
no-color: false
no-progress: false
#output-name: kics-report #"name used on report creations (default \"results\")" # please set via the pipeline
#output-path: KICSReports/ # "directory path to store reports"
path: /Repo # "path to file or directory to scan"
#payload-path: "file path to store source internal representation in JSON format"
preview-lines: 10
#profiling: MEM #"enables performance profiler that prints resource consumption metrics in the logs during the execution (CPU, MEM)"
#queries-path: "path to directory with queries (default ./assets/queries) (default './assets/queries')"
report-formats: all # "formats in which the results will be exported (all, asff, cyclonedx, glsast, html, JSON, junit, pdf, sarif, sonarqube) (default [JSON])"
silent: false
#type: "type of queries to use in the scan"
#timeout: "number of seconds the query has to execute before being canceled"
verbose: true
#disable-full-descriptions: "disable request for full descriptions and use default vulnerability descriptions"
