name: sync secrets to other modules
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - main

jobs:
  secret-syncer:
    #if: ${{ !github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: jpoehnelt/secrets-sync-action@v1.10.0
        with:
          SECRETS: |
            ^ADO_PAT$
            ^GIT_SSH_KEY$
            ^INFRACOST_API_KEY$
            ^PAT$
            ^SYNCER$
          REPOSITORIES: |
            ^DownAtTheBottomOfTheMoleHole/terraform_*
            ^DownAtTheBottomOfTheMoleHole/terraform-*
          #DELETE: false
          DRY_RUN: false
          GITHUB_TOKEN: ${{ secrets.SYNCER }}
          #GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN_CLASSIC }}
          #GITHUB_API_URL: ${{ secrets.CUSTOM_GITHUB_API_URL }}
          CONCURRENCY: 10
        env:
          ADO_PAT: ${{ secrets.ADO_PAT }}
          GIT_SSH_KEY: ${{ secrets.GIT_SSH_KEY }}
          INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}
          PAT: ${{ secrets.PAT }}
          SYNCER: ${{ secrets.SYNCER }}
